*{  
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header and navigation styles */
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    
    color: #FFFFFF;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 18px 25px;
    
}
.btn-con{
    
    height: 64px;
    padding: 18px 25px;
    border-color: #FD6E0A;
    border-radius: 5px;
    background: #FFF8F3;
    color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
}
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul {
    display: flex;
    text-decoration: none;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;  
}
/* banner styles */
.banner{

    display: flex;
    align-items: center;
    margin: 0 100px 0 200px;
}
.banner-sub-title{
    
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}
main{
    max-width: 1140px;
        margin: 0 auto;}
/* abouta section style */
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    
    margin-bottom: 30px;
    font-weight: 700;
} 
.section-description{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
    
    color: #757575;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{

}
.info-title{
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
/* what i do styles */
.what-i-do{
    margin-top: 130px;
    width: 100%;
    
}
.section-title{
    color: #181818;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}
.skill-container{ 
    display: flex;
    justify-content: space-between;
}
.skill{
    background: #FFFFFF;
    box-shadow: 5px 15px 70px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 33px;
    text-align: justify;
    
}
.skill img{
    margin-bottom: 30px;
    margin-right: 85px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
}
.skill-description{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
}
/* resume content */
.resume{}
.section-title{}
.resume-content{
    display: flex;
    justify-content: space-between;
}
.resume-content-right{}
.resume-content-left{}
h2{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}
h3{ 
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}
p{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}